# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
**/node_modules/
npm-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Backend uploads
uploads/

# Angular cache (IMPORTANT)
**/.angular/

# IDEs
.vscode/
.idea/
**/.vscode/

# Logs
*.log

# Misc
coverage/

# System
.DS_Store
Thumbs.db
